@model IEnumerable<TpW24_MelinaSofia.ViewModels.Catsuj>

@{
    ViewData["Title"] = "Index";
}

<h1 class=" d-flex justify-content-center">Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
         
            <th>
               Les sujets
            </th>
      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        
            <td>
                @foreach(var sujet in item.Sujets)
                {
                        <div>
                            <a asp-controller="Sujets" asp-action="Details" asp-route-id ="@sujet.SujetId">
                                @sujet.Titre
                            </a>
                        </div>
                }
                <a class="btn btn-success mt-2" asp-controller="Sujets" asp-action="Index" asp-route-id ="@item.CatId"> Explorez! </a>
            </td>
          
            <td>
                           
                <a asp-action="Details" asp-route-id="@item.CatId">Details</a> 
                

                @if (User.IsInRole("Admin"))
                {
                  <a asp-action="Edit" asp-route-id="@item.CatId">Edit</a>
                  <a asp-action="Delete" asp-route-id="@item.CatId">Delete</a>
                }

                
            </td>
        </tr>
}
    </tbody>
</table>
